@media (max-width: 1549.98px) {
    .box-text {
        width: 37vw;
    }

    .single-box-inner {
        padding-bottom: 40px;
    }

    .single-box-image {
        top: -55px;
    }
}

@media (max-width: 1399.98px) {
    .box-text {
        width: 35vw;
    }

    .single-box-image {
        height: 600px;
    }

    .banner-content h1,
    .banner-content h1 span {
        font-size: 56px;
    }

    .banner-content p {
        font-size: 26px;
    }

    .fuel-text p,
    .lbs-text p {
        line-height: 24px;
        font-size: 16px;
    }

    .countup-number p {
        font-size: 20px;
    }

    .fuel-lbs-area {
        max-width: 800px;
    }
}

@media (max-width: 1199.98px) {
    .box-text {
        width: 38vw;
    }

    .single-box-image {
        height: 650px;
    }

    .contact-us {
        padding: 56px 0;
    }

    .contact-content {
        flex-direction: column;
    }

    .contact-btn a {
        margin-top: 30px;
        margin-right: 0;
    }
}

@media (max-width: 991.98px) {
    .banner-content h1 span {
        display: inline;
    }

    .fuel-lbs-area {
        max-width: 500px;
        padding-right: 7px;
    }

    .fuel-area,
    .lbs-area {
        flex-direction: column;
        align-items: flex-start;
    }

    .fuel-text p,
    .lbs-text p {
        margin-left: 0;
        margin-top: 8px;
    }

    .image-area {
        margin-top: 246px;
    }

    .image-down-icon {
        width: 20px;
        bottom: 24px;
    }

    .section-title h3 {
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
    }

    .single-box-image {
        height: auto;
        width: 100%;
        top: -95%;
    }

    .box-text {
        width: 100%;
    }

    .single-box-text {
        margin-top: 550px;
    }

    .center-details-content p {
        max-width: 600px;
    }

    .contact-text p {
        max-width: 600px;
    }

    .nav-cover {
        position: relative;
    }

    [type="button"]:focus-visible,
    [type="reset"]:focus-visible,
    [type="submit"]:focus-visible,
    button:focus-visible {
        outline: 0px;
    }

    .navbar-toggler:focus {
        box-shadow: 0 0 0 0;
    }

    .navbar-nav .nav-link {
        display: inline-block;
    }

    .navbar-nav li {
        margin-bottom: 20px;
    }

    .navbar-nav li:first-child {
        margin-top: 30px;
    }

    .navbar-nav li:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 767.98px) {
    .single-box-image {
        top: -55%;
    }

    .single-box-text {
        margin-top: 430px;
    }

    .navbar-brand {
        width: 130px;
        margin-top: 18px;
    }

    .image-area {
        margin-top: 100px;
    }

    .contact-text p {
        max-width: 90%;
    }
}

@media (max-width: 575.98px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .navbar-toggler {
        right: 30px;
    }

    .banner-area {
        padding-top: 50px;
    }

    .banner-content h1,
    .banner-content h1 span {
        font-size: 30px;
        line-height: 36px;
    }

    .banner-content p {
        font-size: 18px;
        line-height: 28px;
    }

    .countup-number p {
        font-size: 14.67px;
        width: 112px;
    }

    .fuel-text p,
    .lbs-text p {
        font-size: 11px;
        line-height: 16px;
    }

    .mbl-img-hide {
        display: none;
    }

    .image-down-icon {
        width: 14px;
    }

    .single-image {
        max-height: 235px;
    }

    .single-box-image {
        top: -26%;
    }

    .single-box-text {
        margin-top: 230px;
    }

    .image-area {
        margin-top: 60px;
    }

    .section-title h3 {
        font-size: 24px;
    }

    .green-tec-area {
        padding-top: 40px;
    }

    .box-text h5 {
        font-size: 24px;
        text-align: center;
    }

    .box-para-text p {
        font-size: 15px;
    }

    .learn-btn a {
        margin: 0 auto;
        margin-top: 30px;
    }

    .single-box-text .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .single-box-inner {
        padding-left: 17px;
        padding-right: 23px;
        padding-bottom: 30px;
        padding-top: 30px;
    }

    .center-details-content h5 {
        font-size: 24px;
        line-height: 34px;
    }

    .center-details-content h5 span {
        display: block;
        font-weight: 700;
    }

    .center-details-content p {
        font-size: 15px;
        margin-bottom: 30px;
        margin-top: 10px;
    }

    .center-details-content {
        padding-top: 33px;
        padding-bottom: 42px;
    }

    .contact-text p {
        font-size: 15px;
        margin-left: 0;
    }

    .contact-text p {
        max-width: 100%;
    }

    .footer-area {
        padding-top: 40px;
    }

    .footer-social-list {
        margin-bottom: 20px;
    }

    .footer-social-list li {
        width: 30px;
        height: 30px;
        margin-left: 12px;
    }

    .footer-social-list li a svg {
        width: 16px;
        height: 16px;
    }

    .footer-content p {
        font-size: 14px;
    }
}
